header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

li {
  /* make list inline */
  display: inline;
  list-style-type: none;
  font-size: 40px;
}

img {
  /* make imgs stack */
  display: block;
  /* centre them */
  margin: 0 auto;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

#image-3 {
  display: visible;
}

/* another way (but less DRY) */

/* we don't need to attack item id's
here since we can add the inline to just li */

/* #item-1, 
#item-2,
#item-3 {
  display: inline;
} */

/* ul {
  display: inline;
} */
/* 
section img {
  display: block;
} */

