* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    background-color: #414159;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 2rem;
    color: #fff;
}

img {
    border-radius: 1rem;
    width: 300px;
}

h1 {
    font-size: 60px;
    letter-spacing: .1rem;
    line-height: 2rem;
}

h2 {
    font-size: 38px;
}

h3 {
    line-height: 2.5rem;
    padding-top: .5rem;
}



.header {
    background-color: #333;
    text-align: center;
    padding: 2rem;
    padding-bottom: 3rem;
    height: 6rem;
}
.container {
    margin: 0 auto;
    padding: 2rem 3rem;
    border: 1px solid green;
}

.main {
    padding: 2rem;
    height: 100vh;
}

input,
textarea {

}

.footer {
    background-color: #333;
    height: 8rem;
}

.footer p {
    padding-top: 2rem;
}


